@use "./variables.scss";

// -- -- --

*,
*::before,
*:after {
  font-family: "PT Sans", sans-serif;
}

.wrapFlex {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapFlex {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
  }

  .wrapContents {
    flex: 1;
  }

  .wrapAside {
    flex: 1;
    max-width: 420px;
    padding: var(--px-8);
    background-color: var(--tank-light-800);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", serif;
}

h1.pageTitle {
  max-width: var(--max-width);
  margin: 1rem auto;

  span.pageFlair {
    display: inline-block;
    border-bottom: 1px solid var(--tank-light-800);
  }
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

p {
  margin: 0 0 1em 0;
}

main {
  margin: 1rem 1rem 5rem;
}

a {
  margin: 0 -2px;
  padding: 1px 2px 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  // text-decoration-color: var(--tank-green);
  transition: all 0.1s var(--transition-timing);

  &:hover,
  &:focus {
    background-color: var(--tank-light-900);
    border-color: var(--tank-green);
  }
}

a.btn {
  margin: 0;
  padding: 0.5em 1em 0.5em;
  text-decoration: 0;
  color: var(--tank-green);
  border: 2px solid var(--tank-green);
  border-radius: 8px;
  transition: all 0.1s var(--transition-timing);
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    color: white;
    background-color: var(--tank-green);
  }

  &:active {
    box-shadow: none;
  }

  &:focus-visible {
    outline-offset: 2px;
    box-shadow: none;
  }
}
