@use "./variables.scss";
@use "./helpers";

// -- -- --

// *,
// *::before,
// *:after {
//   font-family: "PT Sans", sans-serif;
// }

body {
  font-family: "PT Sans", sans-serif;
}

.wrapFlex {
  margin: 0 auto;
}

.wrapContents {
  > hr {
    margin: 2rem 0;
    border: 0;
    border-bottom: 1px solid var(--tank-green);
  }
}

@media screen and (min-width: 768px) {
  .wrapFlex {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
  }

  .wrapContents {
    flex: 1;
    padding-right: 1em;
  }

  .wrapAside {
    flex: 1;
    max-width: 420px;
    padding: var(--px-16);
    background-color: var(--tank-light-800);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", serif;
}

h1.pageTitle {
  max-width: var(--max-width);
  margin: 1rem auto;
  font-family: "Special Elite", serif;

  span.pageFlair {
    display: inline-block;
    border-bottom: 1px solid var(--tank-light-800);
  }
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

p {
  margin: 0 0 1em 0;
}

table {
  margin: 0 0 1em;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid var(--tank-light-800);
  width: 100%;

  thead {
    border-bottom: 2px solid var(--tank-green);
  }

  th,
  td {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
    border: 1px solid var(--tank-light-800);
  }

  tbody {
    th {
      font-weight: normal;
    }
  }
}

main {
  margin: 1rem 1rem 5rem;
}

code {
  width: fit-content;
  padding: 0.125rem 0.25rem;
  font-family: var(--font-code);
  font-size: var(--type-smaller-font-size);
  background: var(--code-background-inline);
  border-radius: var(--elem-radius);
}

.token {
  font-size: var(--type-smaller-font-size);
  font-family: var(--font-code);
}
.code-example,
code,
pre {
  border-radius: var(--elem-radius);
  font-family: var(--font-code);
}

.react-syntax-highlighter-line-number {
  font-size: 0.875rem;
}

a {
  margin: 0 -2px;
  padding: 1px 2px 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  // text-decoration-color: var(--tank-green);
  transition: all 0.1s var(--transition-timing);

  &:hover,
  &:focus {
    background-color: var(--tank-light-900);
    border-color: var(--tank-green);
  }
}

a.btn {
  margin: 0;
  padding: 0.5em 1em 0.5em;
  text-decoration: 0;
  color: var(--tank-green);
  border: 2px solid var(--tank-green);
  border-radius: 8px;
  transition: all 0.1s var(--transition-timing);
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    color: white;
    background-color: var(--tank-green);
  }

  &:active {
    box-shadow: none;
  }

  &:focus-visible {
    outline-offset: 2px;
    box-shadow: none;
  }
}
