:root {
  --transition-duration: 0.2s;
  --transition-timing: ease-in;

  --icon-size: 1.5rem;

  --box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);

  --black: hsl(0, 0%, 0%); // #000
  --body-text: hsl(0, 0%, 8%); // #151515;
  --tank-green: hsl(93, 7%, 32%); // #50564b
}
