:root {
  --transition-duration: 0.2s;
  --transition-timing: ease-in;

  --px-8: 0.5rem;
  --px-10: 0.625rem;

  --icon-size: 1.5rem;

  --box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);

  --black: hsl(0, 0%, 0%); // #000
  --body-text: hsl(0, 0%, 8%); // #151515;
  --tank-green: hsl(93, 7%, 32%); // #50564b
  --tank-light-100: #61665d;
  --tank-light-200: #72776e;
  --tank-light-300: #848881;
  --tank-light-400: #969993;
  --tank-light-500: #a7aaa5;
  --tank-light-600: #b9bbb7;
  --tank-light-700: #caccc9;
  --tank-light-800: #dcdddb;
  --tank-light-900: #edeeed;
}
