@use "../styles/variables.scss";

// -- -- -- -- --

.wrapFlex {
}

.wrapContents {
}

.wrapAside {
}

@media screen and (min-width: 768px) {
  .wrapFlex {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
  }

  .wrapContents {
    flex: 1;
  }

  .wrapAside {
    flex: 1;
    max-width: 420px;
    padding: var(--px-8);
    background-color: var(--tank-light-800);
  }
}
