@use "../styles/variables.scss";

// -- -- -- -- --
footer {
  display: flex;
  flex-direction: column;
  border: 1px dashed green;

  hr {
    display: none;
  }

  .wrapContents {
    order: 1;
  }

  .wrapSocial {
    order: 2;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    .wrapContents {
      order: 2;
      flex: 1;
    }

    .wrapSocial {
      order: 1;
      flex: 0;
    }
  }
}

.wrapContents {
  padding: 1em;
}

// -- -- -- -- --

.wrapSocial {
  position: relative;

  display: flex;
  justify-content: center;
  gap: 0.5em;

  margin: 1em 0;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      z-index: -1;
      display: block;
      padding: 1px;
      width: 2px;
      height: 100%;
      background-color: var(--tank-green);
    }
  }
}

.socialLink {
  a {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: 0.5em;
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    background-color: white;
    border: 2px solid var(--tank-green);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    transition: all var(--transition-duration) var(--transition-timing);

    svg {
      fill: var(--body-text);
    }

    &:hover {
      background-color: var(--tank-green);
      svg {
        fill: white;
      }
    }
  }

  svg {
    display: block;
    flex: 1;
  }
}
