@use "../styles/variables.scss";

// -- -- -- -- --
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 8px solid var(--tank-green);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: calc(100% - 16px);
    height: 8px;
    background-color: var(--tank-light-400);
    padding: 4px;
  }

  hr {
    display: none;
  }

  .wrapContents {
    order: 1;
    padding-top: 2em;
    font-size: 0.875em;
    max-width: 31.25rem; // 500px
  }

  .wrapSocial {
    order: 2;
    margin-top: 0;
    z-index: 200;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    .wrapContents {
      order: 2;
      flex: 1;
    }

    .wrapSocial {
      order: 1;
      flex: 0;
    }
  }
}

.wrapContents {
  padding: 1em;
}

// -- -- -- -- --

.wrapSocial {
  position: relative;

  display: flex;
  justify-content: center;
  gap: 0.5em;

  margin: 1em 0;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      z-index: -1;
      display: block;
      padding: 1px;
      width: 2px;
      height: calc(100% - 2em);
      background-color: var(--tank-green);
    }
  }
}

.socialLink {
  a {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0.5em;
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    background-color: white;
    border: 2px solid var(--tank-green);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    transition: all var(--transition-duration) var(--transition-timing);

    svg {
      fill: var(--body-text);
    }

    &:hover,
    &:focus {
      background-color: var(--tank-green);
      svg {
        fill: white;
      }
    }

    &:active {
      box-shadow: none;
    }

    &:focus-visible {
      outline-offset: 2px;
      box-shadow: none;
    }
  }

  svg {
    display: block;
    flex: 1;
  }
}
